// Colors

//Primary
$bg-clr-primary: rgb(20, 20, 20);
$bg-clr-header: rgb(39, 40, 44);
$bg-clr-email-prev: rgb(72, 73, 80);


//Secondary
$border-clr-blue: #1b3e88d1;

//Sizes
$mobile-padding: 15px;
$narrow-padding: 35px;
$normal-padding: 165px;

$layoutPadding: 20px;

$break-narrow: 650px;
$break-normal: 1020px;
$break-wide: 1400px;